# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Logs and debug files
*.log
*.out
*.err

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# Package directories
*.egg-info/
dist/
build/
.eggs/

# Cache files
.cache/
*.bak
*.swp

# IDE-specific files
# PyCharm
.idea/
*.iml
# VSCode
.vscode/

# OS-specific files
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon?
Icon?

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model checkpoints
checkpoints/

# Data files
data/

# Test results
coverage/
*.cover
*.cov
*.lcov

# Dependency management
pip-log.txt
pip-delete-this-directory.txt

# Environment variables and secrets
.env
*.env

# Backup files
*.bak
*.orig
*.tmp

# Other artifacts
*.so
*.dll
*.dylib
*.pdb
*.exe
