--extra-index-url https://download.pytorch.org/whl/cu124 
torch 
torchvision 
 
numpy 
pillow 
opencv-python 
librosa 
soundfile 
transformers 
openai-whisper 
ray 
insightface 
onnxruntime-gpu 
scikit-learn 
transformers 
tqdm